<div class="sidebar-item">
    <a class="sidebar-link" data-toggle="collapse" href="#homeSubmenu2" role="button" aria-expanded="false" aria-controls="homeSubmenu2">
        <div>
            <i class="fas fa-fw fa-lg fa-bullhorn sidebar-icon"></i>
            <span class="sidebar-text">Dropdown</span>
        </div>
        <div class="sidebar-caret"><i class="fas fa-angle-right"></i></div>
    </a>
    <div class="collapse sidebar-collapse" id="homeSubmenu2">
        <a href="" class="sidebar-link">• link</a>
        <a href="" class="sidebar-link">• link</a>
        <a href="" class="sidebar-link">• link</a>
    </div>
</div> 