{% extends "layouts.njk" %}

{# Setting #}
{% set title = 'Dashboard' %}
{% set breadcrumbItems =[  ] %}
{% set headerTitle = title %}
{% set headerText = 'Lorem ipsum dolor, sit amet consectetur adipisicing elit.' %}

{# Title #}
{% block title %}
    {{ title }}
{% endblock %}

{# Content #}
{% block content %}

    {# header #}
    {{ breadcrumb.block(breadcrumbItems) }}

    {# header #}
    {{ header.block(headerTitle, headerText) }}

    <section class="card-columns">  
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta consequuntur labore ducimus tenetur cupiditate id.</p>
            </div>
        </div>         
    </section>            
    
{% endblock %}
        