{% extends "layouts.njk" %}

{# Setting #}
{% set title = 'Buttons' %}
{% set breadcrumbItems =[ { name: 'Base' }, { name: title} ] %}
{% set headerTitle = title %}
{% set headerText = '' %}

{# Title #}
{% block title %}
    {{ title }}
{% endblock %}

{# Content #}
{% block content %}

    {# breadcrumb #}
    {{ breadcrumb.block(breadcrumbItems) }}

    {# header #}
    {{ header.block(headerTitle, headerText) }}

    <section>
        <div class="row">
             <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">Ejemplo básico de uso</div>
                    <div class="card-body">
                        <button type="button" class="btn mb-2 btn-primary">Primary</button>
                        <button type="button" class="btn mb-2 btn-secondary">Secondary</button>
                        <button type="button" class="btn mb-2 btn-success">Success</button>
                        <button type="button" class="btn mb-2 btn-danger">Danger</button>
                        <button type="button" class="btn mb-2 btn-warning">Warning</button>
                        <button type="button" class="btn mb-2 btn-info">Info</button>
                        <button type="button" class="btn mb-2 btn-light">Light</button>
                        <button type="button" class="btn mb-2 btn-dark">Dark</button>
                        <button type="button" class="btn mb-2 btn-link">Link</button>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">Tamaños</div>
                    <div class="card-body">
                        <button type="button" class="btn mb-2 btn-primary btn-lg">Large button</button>
                        <button type="button" class="btn mb-2 btn-primary">Default button</button>
                        <button type="button" class="btn mb-2 btn-primary btn-sm">Small button</button>
                    </div>
                </div>
            </div>
             <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">Contorno</div>
                    <div class="card-body">
                         <button type="button" class="btn mb-2 btn-outline-primary">Primary</button>
                        <button type="button" class="btn mb-2 btn-outline-secondary">Secondary</button>
                        <button type="button" class="btn mb-2 btn-outline-success">Success</button>
                        <button type="button" class="btn mb-2 btn-outline-danger">Danger</button>
                        <button type="button" class="btn mb-2 btn-outline-warning">Warning</button>
                        <button type="button" class="btn mb-2 btn-outline-info">Info</button>
                        <button type="button" class="btn mb-2 btn-outline-light">Light</button>
                        <button type="button" class="btn mb-2 btn-outline-dark">Dark</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

             
    
{% endblock %}