<div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
        <p class="mb-1">Uso básico:</p>
        <div class="dropdown-menu mb-3 position-static d-block">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
        <p class="mb-1">Active:</p>
        <div class="dropdown-menu mb-3 position-static d-block">
            <a class="dropdown-item" href="#">Regular link</a>
            <a class="dropdown-item active" href="#">Active link</a>
            <a class="dropdown-item" href="#">Another Link</a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
        <p class="mb-1">Disabled:</p>
        <div class="dropdown-menu mb-3 position-static d-block">
            <a class="dropdown-item" href="#">Regular link</a>
            <a class="dropdown-item disabled" href="#">Disabled link</a>
            <a class="dropdown-item" href="#">Another Link</a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
        <p class="mb-1">Header:</p>
        <div class="dropdown-menu position-static d-block">
            <h6 class="dropdown-header">Dropdown header</h6>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
        <p class="mb-1">Divider:</p>
        <div class="dropdown-menu position-static d-block">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated Link</a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
        <p class="mb-1">Text:</p>
        <div class="dropdown-menu position-static d-block">
            <p class="px-3 py-2 mb-0 text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>