{% macro block(title, text) %}
    <header>
        <div class="row">
            <div class="col">
                <h4>{{ title }}</h4>
                <p>{{ text }}</p>
            </div>
        </div>            
    </header>
{% endmacro %}
