                       
<img src="https://s.gravatar.com/avatar/f81374f61682086b38bea505a9f7d5a0?s=150 " alt="..." class=" mr-3 rounded">
<img src="https://s.gravatar.com/avatar/f81374f61682086b38bea505a9f7d5a0?s=150 " alt="..." class=" mr-3 rounded-circle">
<img src="https://s.gravatar.com/avatar/f81374f61682086b38bea505a9f7d5a0?s=150 " alt="..." class=" mr-3 img-thumbnail">