                       
<img src="https://via.placeholder.com/150 " alt="..." class=" mr-3 rounded">
<img src="https://via.placeholder.com/150 " alt="..." class=" mr-3 rounded-circle">
<img src="https://via.placeholder.com/150 " alt="..." class=" mr-3 img-thumbnail">