<div class="bg-light border-right sidebar" id="sidebar">    
    <div class="sticky-top">        
        
        <div class="sidebar-heading">
            <a href="./">Start Bootstrap</a>
        </div>
        
        <ul class="list-unstyled sidebar-menu">
            <li  class="active">
                <a href="">Static</a>
            </li>
            <li>
                <a href="">Static</a>
            </li>
            <li>
                <a class="dropdown-toggle" data-toggle="collapse" href="#homeSubmenu" role="button" aria-expanded="false" aria-controls="homeSubmenu">
                    Dropdown
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">home 1</a></li>
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">home 2</a></li>
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">home 3</a></li>
                </ul>
            </li>
        <ul>  
    </div>
</div>