<div class="sidebar">
    <div class="sticky-top">

        <div class="sidebar-heading">
            <a href="./">
                <span class="menu-text">DASHBOARD</span>
            </a>
        </div>

        <div class="sidebar-menu mb-4">
            
            <div class="sidebar-item">
                <a class="sidebar-link" data-toggle="collapse" href="#menuBase" role="button" aria-expanded="false" aria-controls="menuBase">
                    <div>
                        <i class="fas fa-fw fa-lg fa-toolbox sidebar-icon"></i>
                        <span class="sidebar-text">Base</span>
                    </div>
                    <div class="sidebar-caret"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse sidebar-collapse" id="menuBase">
                    <a href="ui-alerts.html" class="sidebar-link">• Alerts</a>
                    <a href="ui-buttons.html" class="sidebar-link">• Buttons</a>
                    <a href="ui-cards.html" class="sidebar-link">• Cards</a>
                    <a href="ui-general.html" class="sidebar-link">• General</a>
                    <a href="" class="sidebar-link incomplete">• Grid</a>
                    <a href="" class="sidebar-link incomplete">• Modals</a>
                    <a href="" class="sidebar-link incomplete">• Notifications</a>
                    <a href="" class="sidebar-link incomplete">• Tabs</a>
                    <a href="" class="sidebar-link incomplete">• Typography</a>
                </div>
            </div>     

            <div class="sidebar-item">
                <a class="sidebar-link" data-toggle="collapse" href="#menuForms" role="button" aria-expanded="false" aria-controls="menuForms">
                    <div>
                        <i class="fas fa-fw fa-lg fa-tasks sidebar-icon"></i>
                        <span class="sidebar-text">Forms</span>
                    </div>
                    <div class="sidebar-caret"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse sidebar-collapse" id="menuForms">
                    <a href="" class="sidebar-link incomplete">• Controls</a>
                    <a href="" class="sidebar-link incomplete">• Widgets</a>
                    <a href="" class="sidebar-link incomplete">• Layouts</a>
                    <a href="" class="sidebar-link incomplete">• Validations</a>
                </div>
            </div> 

            <div class="sidebar-item">
                <a class="sidebar-link" data-toggle="collapse" href="#menuCharts" role="button" aria-expanded="false" aria-controls="menuCharts">
                    <div>
                        <i class="far fa-fw fa-lg fa-chart-bar sidebar-icon"></i>
                        <span class="sidebar-text">Charts</span>
                    </div>
                    <div class="sidebar-caret"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse sidebar-collapse" id="menuCharts">
                    <a href="" class="sidebar-link incomplete">• Controls</a>
                    <a href="" class="sidebar-link incomplete">• Widgets</a>
                    <a href="" class="sidebar-link incomplete">• Layouts</a>
                    <a href="" class="sidebar-link incomplete">• Validations</a>
                </div>
            </div>

            <div class="sidebar-item">
                <a class="sidebar-link" data-toggle="collapse" href="#menuDatatables" role="button" aria-expanded="false" aria-controls="menuDatatables">
                    <div>
                        <i class="fas fa-fw fa-lg fa-table sidebar-icon"></i>
                        <span class="sidebar-text">Tables</span>
                    </div>
                    <div class="sidebar-caret"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse sidebar-collapse" id="menuDatatables">
                    <a href="" class="sidebar-link incomplete">• Basic</a>
                    <a href="" class="sidebar-link incomplete">• Datatables</a>
                </div>
            </div>             

             <div class="sidebar-item">
                <a class="sidebar-link active" data-toggle="collapse" href="#menuExample" role="button" aria-expanded="true" aria-controls="menuExample">
                    <div>
                        <i class="fab fa-fw fa-lg fa-qq sidebar-icon"></i>
                        <span class="sidebar-text">Example</span>
                    </div>
                    <div class="sidebar-caret"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse show sidebar-collapse" id="menuExample">
                    <a href="" class="sidebar-link">• Link complete</a>
                    <a href="" class="sidebar-link incomplete">• link incomplete</a>
                </div>
            </div>

             <div class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <div>
                        <i class="fas fa-fw fa-lg fa-cog sidebar-icon"></i>
                        <span class="sidebar-text">Settings</span>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>