<div>
    <span class="spinner-border text-primary mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-border text-secondary mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-border text-success mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-border text-info mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-border text-warning mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-border text-danger mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-border text-dark mr-2"><span class="sr-only">Loading...</span></span>
</div>

<hr>

<div>
    <span class="spinner-border spinner-border-sm text-primary mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-border spinner-border-sm text-secondary mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-border spinner-border-sm text-success mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-border spinner-border-sm text-info mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-border spinner-border-sm text-warning mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-border spinner-border-sm text-danger mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-border spinner-border-sm text-dark mr-2"><span class="sr-only">Loading...</span></span>
</div>

<hr>

<div>
    <span class="spinner-grow text-primary mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-grow text-secondary mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-grow text-success mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-grow text-info mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-grow text-warning mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-grow text-danger mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-grow text-dark mr-2"><span class="sr-only">Loading...</span></span>
</div>

<hr>

<div>
    <span class="spinner-grow spinner-grow-sm text-primary mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-grow spinner-grow-sm text-secondary mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-grow spinner-grow-sm text-success mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-grow spinner-grow-sm text-info mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-grow spinner-grow-sm text-warning mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-grow spinner-grow-sm text-danger mr-2"><span class="sr-only">Loading...</span></span>
    <span class="spinner-grow spinner-grow-sm text-dark mr-2"><span class="sr-only">Loading...</span></span>
</div>

<hr>

<div>
    <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="sr-only">Loading...</span>
    </button>
    <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Loading...
    </button>
</div>

<hr>

<div>
    <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    <span class="sr-only">Loading...</span>
    </button>
    <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    Loading...
    </button>
</div>
