.navbar{
    border-bottom: 1px solid $gray-400;
    width: 100%;
    z-index: 9999;

    .btn-animated{
        padding: 8px;
        border: none;    
        &:hover{
            cursor: pointer;
        }    
        .line{
            width: 20px;
            height: 2px;
            background-color: $primary;
            display: block;
            margin: 4px auto;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        &.is-active {
            .line:nth-child(1){
                -webkit-transform: translateY(6px) rotate(45deg);
                -ms-transform: translateY(6px) rotate(45deg);
                -o-transform: translateY(6px) rotate(45deg);
                transform: translateY(6px) rotate(45deg);
            }
            .line:nth-child(2){
                opacity: 0;
            }
            .line:nth-child(3){
                -webkit-transform: translateY(-6px) rotate(-45deg);
                -ms-transform: translateY(-6px) rotate(-45deg);
                -o-transform: translateY(-6px) rotate(-45deg);
                transform: translateY(-6px) rotate(-45deg);
            }
        }        
    }

    .navbar-nav{        
        .nav-item{
            
            .nav-link{
                padding: 0.6rem 0.8rem 0.2rem 0.8rem;
                .badge{
                    position: absolute;
                    top: -4px;
                    right: -8px;
                    transition: top .1s ease-out;
                }
                &:hover{
                    .badge{
                        top: -8px;
                    }
                }
            }

            .dropdown-menu-lg{
                padding: 0px;
                .dropdown-menu-header {
                    padding: .5rem;
                    margin-bottom: 0px;
                    text-align: center;
                    display: block;
                    font-size: 0.8rem;
                }
                .list-group-item{
                    text-decoration: none;
                    padding: 0.5rem 1.3rem;
                    &:hover{
                        background-color: $gray-200;
                    }
                }
                .dropdown-menu-footer {
                    padding: .5rem;
                    margin-bottom: 0px;
                    text-align: center;
                    display: block;
                    font-size: .75rem;
                }
            }

        }
    }
    
}


@media (max-width: 575px) {    
    .navbar {
        .navbar-nav {
            .dropdown-menu-lg {
                min-width: 100%;
            }
        }
        .dropdown {
            position: inherit;
        }
    }

}
@media (min-width: 576px) {    
    .navbar {
        .navbar-nav {
            .dropdown-menu-lg {
                min-width: 20rem;
            }
        }
    }
}

