html{
    position: relative;
    min-height: 100%;
}

body {
    overflow-x: hidden;
    background-color: $gray-200;
}

// portlet
.portlet{
    border-radius: 0.2rem;
    border: 1px solid $gray-200;

    .portlet-head{
        border-bottom: 1px solid $gray-200;
        padding: 1rem;
        .head-label{    
            font-size: 1.2rem;
        }
    }

    .portlet-body{
        padding: 1rem;
        .section{
            .section-title{        
                margin-bottom: 0.4rem;
            }
            .section-info{        
                font-size: 0.9rem;
                margin-bottom: 1.2rem;
                line-height: 1.2rem;
            }
            .section-content{        
                padding: 1rem;
                border: 3px solid $gray-200;
            }
        }
    }
}


