.hamburger{
    padding: 8px;
    border: none;

    &:hover{
        cursor: pointer;
    }

    .line{
        width: 20px;
        height: 2px;
        background-color: $primary;
        display: block;
        margin: 4px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}

#sidebar-toggle,
#navbar-toggle{
    &.is-active {
        .line:nth-child(2){
            opacity: 0;
        }
    }
}

#sidebar-toggle,
#navbar-toggle{
    &.is-active {
        .line:nth-child(1){
            -webkit-transform: translateY(6px) rotate(45deg);
            -ms-transform: translateY(6px) rotate(45deg);
            -o-transform: translateY(6px) rotate(45deg);
            transform: translateY(6px) rotate(45deg);
        }
    }
}

#sidebar-toggle,
#navbar-toggle{
    &.is-active {
        .line:nth-child(3){
            -webkit-transform: translateY(-6px) rotate(-45deg);
            -ms-transform: translateY(-6px) rotate(-45deg);
            -o-transform: translateY(-6px) rotate(-45deg);
            transform: translateY(-6px) rotate(-45deg);
        }
    }
}



// #menu-toggle.is-active .line:nth-child(1),
// #menu-toggle.is-active .line:nth-child(2),
// #menu-toggle.is-active .line:nth-child(3){
//   width: 16px;
//   margin: 3px auto;
// }

// #menu-toggle .line:nth-child(1){
//   -webkit-transform: rotate(-0deg);
//   -ms-transform: rotate(-0deg);
//   -o-transform: rotate(-0deg);
//   transform: rotate(-0deg);
// }

// #menu-toggle .line:nth-child(3){
//   -webkit-transform: rotate(0deg);
//   -ms-transform: rotate(0deg);
//   -o-transform: rotate(0deg);
//   transform: rotate(0deg);
// }

// // toogle
// #menu-toggle.is-active .line:nth-child(1){
//   -webkit-transform: translateX(2px) rotate(45deg);
//   -ms-transform: translateX(2px) rotate(45deg);
//   -o-transform: translateX(2px) rotate(45deg);
//   transform: translateX(2px) rotate(45deg);
// }

// #menu-toggle.is-active .line:nth-child(3){
//   -webkit-transform: translateX(2px) rotate(-45deg);
//   -ms-transform: translateX(2px) rotate(-45deg);
//   -o-transform: translateX(2px) rotate(-45deg);
//   transform: translateX(2px) rotate(-45deg);
// }