.navbar{
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
    
    a{
        text-decoration: none;
    }
    .navbar-toggler{
        border-radius: 0px;
    }
    .navbar-nav{
        text-align: right;
    }
}

@media (max-width: 767px) {
    .navbar{
        .navbar-nav{
            text-align: center;
        }
    }
}