.portlet{
    border-radius: 0.2rem;
    border: 1px solid $gray-200;
    background-color: #fff;

    .portlet-head{
        border-bottom: 1px solid $gray-200;
        padding: 1rem;
        .head-label{    
            font-size: 1.2rem;
        }
    }

    .portlet-body{
        padding: 1rem;
        .section{
            .section-title{        
                margin-bottom: 0.4rem;
            }
            .section-info{        
                font-size: 0.9rem;
                line-height: 1.2rem;
                border-bottom: 1px solid $gray-200;
                margin-bottom: 1.2rem;
                padding-bottom: 1rem;
            }
            .section-divider{
                border-bottom: 1px solid $gray-200;
            }
            .section-content{
                background-color: #fff;
            }
        }
    }

    // disabled 
    .card{
        margin-bottom: 0px;
        display: block;
    } 
}
